<div class="navbar-wagon-second">
    <!-- Logo -->
  <div class="navbar-logo-title">
    <div>

    </div>


  </div>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
      <!-- Links when logged in -->
      <div>
          <%= link_to "#", class: "navbar-wagon-item-second navbar-wagon-link-second navbar-div-second" do%>
        <div>Wishlist</div>
        <% end %>
      </div>
      <div>
          <%= link_to "#", class: "navbar-wagon-item-second navbar-wagon-link-second navbar-div-second" do%>
        <div>Saved Searches</div>
        <% end %>
      </div>
      <div>
          <%= link_to "#", class: "navbar-wagon-item-second navbar-wagon-link-second navbar-div-second" do%>
        <div>Popular Searches</div>
        <% end %>
      </div>
      <div>
          <%= link_to "#", class: "navbar-wagon-item-second navbar-wagon-link-second navbar-div-second" do%>
        <div>Recently Viewed</div>
        <% end %>
      </div>
  </div>
</div>

