<div class="navbar-wagon-second">
    <!-- Logo -->
  <div class="navbar-logo-title">
    <div>

    </div>


  </div>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
      <!-- Links when logged in -->
      <div>
          <%= link_to browse_wanted_path, class: "navbar-wagon-item-second navbar-wagon-link-second navbar-div-second" do%>
        <div>Wanted Ads</div>
        <% end %>
      </div>
      <div>
          <%= link_to browse_for_sale_path, class: "navbar-wagon-item-second navbar-wagon-link-second navbar-div-second" do%>
        <div>For Sale Ads</div>
        <% end %>
      </div>
      <div>
          <%= link_to browse_storage_space_path, class: "navbar-wagon-item-second navbar-wagon-link-second navbar-div-second" do%>
        <div>Storage Spaces</div>
        <% end %>
      </div>
      <div>
          <%= link_to "#", class: "navbar-wagon-item-second navbar-wagon-link-second navbar-div-second" do%>
        <div>Recently Viewed</div>
        <% end %>
      </div>
  </div>
</div>

