<div class="searchbar">
  <%= form_tag search_index_path, method: :get, class: "searchbar-form" do |f| %>
  <div class="dropdown">
    <a id="dropdown" role="button" data-toggle="dropdown" class="btn btn-primary" href="#">
        Category <span class="caret"></span>
    </a>
    <ul class="dropdown-menu searchbar-dropdown"" role="menu" aria-labelledby="dropdown">
      <% @categories.each do |c| %>
        <li>
          <%= radio_button_tag(:categories, c.name) %>
          <%= label_tag(:categories, c.name) %>
        </li>
        <% end %>
    </ul>
  </div>

  <ul class="list-inline">
    <li>
      <%= text_field_tag :query, params[:query], placeholder: "Find exactly what you need!", class: "form"%>
    </li>
    <li>
      <input type="submit">
    </li>
  </ul>
  <% end %>
</div>
