<%= content_for(:title) do %>
LWR Forum
<% end %>

<div class="wrapper">
  <div class="container">
    <div class="forum-messageboard-border">
      <div class="title text-left">
        <h2>All Messageboards</h2>
      </div>
    </div>

    <div class="container-margin container-flex">
        <div class="container" style="padding-left: 0;">
          <div class="forum-messageboard-border">
            <h5><strong>General Topics</strong></h5>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin">forumn title</div>
            <div class="price">Lasted posting of words....</div>
            <div class="forum-footer-text"><p>Posted by: TEST    Created on: TEST   Batch: 163</p></div>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin">forumn title</div>
            <div class="price">Lasted posting of words....</div>
            <div class="forum-footer-text"><p>Posted by: TEST    Created on: TEST   Batch: 163</p></div>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin">forumn title</div>
            <div class="price">Lasted posting of words....</div>
            <div class="forum-footer-text"><p>Posted by: TEST    Created on: TEST   Batch: 163</p></div>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin">forumn title</div>
            <div class="price">Lasted posting of words....</div>
            <div class="forum-footer-text"><p>Posted by: TEST    Created on: TEST   Batch: 163</p></div>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin">forumn title</div>
            <div class="price">Lasted posting of words....</div>
            <div class="forum-footer-text"><p>Posted by: TEST    Created on: TEST   Batch: 163</p></div>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin">forumn title</div>
            <div class="price">Lasted posting of words....</div>
            <div class="forum-footer-text"><p>Posted by: TEST    Created on: TEST   Batch: 163</p></div>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin">forumn title</div>
            <div class="price">Lasted posting of words....</div>
            <div class="forum-footer-text"><p>Posted by: TEST    Created on: TEST   Batch: 163</p></div>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin">forumn title</div>
            <div class="price">Lasted posting of words....</div>
            <div class="forum-footer-text"><p>Posted by: TEST    Created on: TEST   Batch: 163</p></div>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin">forumn title</div>
            <div class="price">Lasted posting of words....</div>
            <div class="forum-footer-text"><p>Posted by: TEST    Created on: TEST   Batch: 163</p></div>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin">forumn title</div>
            <div class="price">Lasted posting of words....</div>
            <div class="forum-footer-text"><p>Posted by: TEST    Created on: TEST   Batch: 163</p></div>
          </div>
        </div>
        <div class="container" style="padding-right: 0;">
          <div class="forum-messageboard-border">
            <h5><strong>Recommedations</strong></h5>
          </div>
          <div class="forum-messageboard-border sub-forum-header">
            <h6><strong>Latest</strong></h6>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin">forumn title</div>
            <div class="price">Lasted posting of words....</div>
            <div class="forum-footer-text"><p>Posted by: TEST    Created on: TEST   Batch: 163</p></div>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin">forumn title</div>
            <div class="price">Lasted posting of words....</div>
            <div class="forum-footer-text"><p>Posted by: TEST    Created on: TEST   Batch: 163</p></div>
          </div>
          <div class="forum-messageboard-border sub-forum-header">
            <h6><strong>Surfing</strong></h6>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin"> <%= link_to "Canggu Surf Spots", forumpost_path %> </div>
            <div class="price">Lasted posting of words....</div>
            <div class="forum-footer-text"><p>Posted by: TEST    Created on: TEST   Batch: 163</p></div>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin">forumn title</div>
            <div class="price">Lasted posting of words....</div>
            <div class="forum-footer-text"><p>Posted by: TEST    Created on: TEST   Batch: 163</p></div>
          </div>
          <div class="forum-messageboard-border sub-forum-header">
            <h6><strong>Scooters</strong></h6>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin">forumn title</div>
            <div class="price">Lasted posting of words....</div>
            <div class="forum-footer-text"><p>Posted by: TEST    Created on: TEST   Batch: 163</p></div>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin">forumn title</div>
            <div class="price">Lasted posting of words....</div>
            <div class="forum-footer-text"><p>Posted by: TEST    Created on: TEST   Batch: 163</p></div>
          </div>
          <div class="forum-messageboard-border sub-forum-header">
            <h6><strong>Accommodation</strong></h6>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin">forumn title</div>
            <div class="price">Lasted posting of words....</div>
            <div class="forum-footer-text"><p>Posted by: TEST    Created on: TEST   Batch: 163</p></div>
          </div>
          <div class="card-body-margin-top">
            <div class="place-name forum-title-margin">forumn title</div>
            <div class="price">Lasted posting of words....</div>
            <div class="forum-footer-text"><p>Posted by: TEST    Created on: TEST   Batch: 163</p></div>
          </div>
        </div>
    </div>
  </div>
</div>
