<div class="wrapper">
  <div class="container">
    <div class="forum-messageboard-border">
      <div class="title text-left">
        <h5><strong>Forum Post Title</strong></h5>
      </div>
    </div>
    <div class="card-body-margin-top">
      <div class="place-name forum-title-margin">forumn title</div>
      <div class="price">Lasted posting of words....</div>
      <div class="forum-footer-text"><p>Posted by: TEST    Created on: TEST   Batch: 163</p></div>
    </div>
  </div>
</div>
