<%= content_for(:title) do %>
Find, Sell, Store and Discuss
<% end %>

<div class="banner">
  <div>
    <div class="container container-content">
      <div class="banner-content">
        <div class="row row-content">
          <div class="col-sm-5 left">
                <div class="slidingVertical">
                  <span>Find</span>
                  <span>Sell</span>
                  <span>Store</span>
                  <span>Discuss</span>
                </div>
          </div>
            <div class="col-sm-2 middle">
            <h3>a</h3>
          </div>
          <div class="col-sm-5 right">
                <div class="slidingVertical2">
                  <span>Surfboard</span>
                  <span>Laptop</span>
                  <span>Guitar</span>
                  <span>Bootcamp</span>
                </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 bottom ">
          <div class="col-sm-8 col-sm-offset-2 search-border">
            <%= render 'shared/search_form', id: "searchBar"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'autocomplete' %>

