<%= content_for(:title) do %>
Find, Sell, Store and Talk about
<% end %>

<div class="banner">
  <div class="banner-content">
    <div class="row banner-div-inline">
      <div class="wrapper">
        <div>
          <h2 class="sentence">
            <div class="slidingVertical">
              <span>Find</span>
              <span>Sell</span>
              <span>Store</span>
              <span>Talk about</span>
            </div>
          </h2>
        </div>
        <div>
          <h2 class="sentence"> a </h2>
        </div>
        <div>
          <h2 class="sentence">
            <div class="slidingVertical2">
              <span>Surfboard</span>
              <span>Laptop</span>
              <span>MacBook Pro</span>
              <span>Tennis Racquet</span>
            </div>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
