<div class="banner">
  <div class="banner-content">
    <section class="wrapper">
      <h2 class="sentence">Janie is a lovely girl and she is very
        <div class="slidingVertical">
          <span>Amazing.</span>
          <span>Beautiful.</span>
          <span>Cute.</span>
          <span>Delightful.</span>
          <span>Emotional.</span>
        </div>
      </h2>
    </section>
    <div>
      <p>PLACEHOLDER FOR SEARCH BAR</p>
    </div>
  </div>
</div>
