<div class="wrapper">
  <div class="container">
    <div class="categories-search-bar">
      <h5>categories - search - filter by price / new</h5>
    </div>
  </div>

  <div class="container">
    <div class="advert">
      <img class="avatar-large" src="https://4vector.com/i/free-vector-windsurfing-board-pattern-vector_024264_Surfboards1.jpg" height="150" width="150">
      <div class="sell-adverts-body">
        <div class="sell-adverts-text">
          <h3><strong>Surfboard for sale</strong></h3>
          <h5>I'm living Bali by end of August and I'm selling my surfboard for a good price. Bought it 2 months ago when I started my batch. Almost like new, no scratches</h5>
        </div>
        <div class="sell-adverts-footer">
          <h5> Posted by: Gus | Batch no: 163 | Posted on: 03/08/18 | Condition: used | Location: Bali</h5>
        </div>
      </div>
      <div class="sell-adverts-details">
        <h5>save it</h5>
        <h5>price</h5>
        <h5>Send SMS</h5>
        <h5>Send email</h5>
        <h5>Make an offer</h5>
      </div>
    </div>
  </div>
    <div class="container">
    <div class="advert">
      <img class="avatar-large" src="https://4vector.com/i/free-vector-windsurfing-board-pattern-vector_024264_Surfboards2.jpg" height="150" width="150">
      <div class="sell-adverts-body">
        <div class="sell-adverts-text">
          <h3><strong>Surfboard for sale</strong></h3>
          <h5>I'm living Bali by end of August and I'm selling my surfboard for a good price. Bought it 2 months ago when I started my batch. Almost like new, no scratches</h5>
        </div>
        <div class="sell-adverts-footer">
          <h5> Posted by: Gus | Batch no: 163 | Posted on: 03/08/18 | Condition: used | Location: Bali</h5>
        </div>
      </div>
      <div class="sell-adverts-details">
        <h5>save it</h5>
        <h5>price</h5>
        <h5>Send SMS</h5>
        <h5>Send email</h5>
        <h5>Make an offer</h5>
      </div>
    </div>
  </div>
    <div class="container">
    <div class="advert">
      <img class="avatar-large" src="https://4vector.com/i/free-vector-windsurfing-board-pattern-vector_024264_Surfboards3.jpg" height="150" width="150">
      <div class="sell-adverts-body">
        <div class="sell-adverts-text">
          <h3><strong>Surfboard for sale</strong></h3>
          <h5>I'm living Bali by end of August and I'm selling my surfboard for a good price. Bought it 2 months ago when I started my batch. Almost like new, no scratches</h5>
        </div>
        <div class="sell-adverts-footer">
          <h5> Posted by: Gus | Batch no: 163 | Posted on: 03/08/18 | Condition: used | Location: Bali</h5>
        </div>
      </div>
      <div class="sell-adverts-details">
        <h5>save it</h5>
        <h5>price</h5>
        <h5>Send SMS</h5>
        <h5>Send email</h5>
        <h5>Make an offer</h5>
      </div>
    </div>
  </div>
</div>








