<div class="wrapper">
  <div class="container">
    <div class="categories-search-bar">
      <h5>categories - search - filter by price / new</h5>
    </div>
  </div>

  <div class="container container-margin">
    <div class="advert">
      <img class="avatar-large" src="https://4vector.com/i/free-vector-windsurfing-board-pattern-vector_024264_Surfboards1.jpg" height="150" width="150">
      <div class="sell-adverts-body">
        <div class="sell-adverts-text">
          <div class="title">
            <div class="title-header"><h4><strong>Surfboard for sale</strong></h4></div>
            <div class="title-view"> <h6>Views:15 | Saves:10</h6></div>
          </div>
          <h5>I'm living Bali by end of August and I'm selling my surfboard for a good price. Bought it 2 months ago when I started my batch. Almost like new, no scratches</h5>
        </div>
        <div class="sell-adverts-footer">
          <h6> Posted by: Gus | Batch no: 163 | Posted on: 03/08/18 | Condition: used | Location: Bali</h6>
        </div>
      </div>
      <div class="sell-adverts-details">
        <div><a href=""><h4><i class="far fa-star"></i></h4></a></div>
        <div><h4>$270</h4></div>
        <div><a href=""><h4><i class="far fa-envelope"></i></h4></a></div>
      </div>
    </div>
  </div>
    <div class="container container-margin">
    <div class="advert">
      <img class="avatar-large" src="https://4vector.com/i/free-vector-windsurfing-board-pattern-vector_024264_Surfboards2.jpg" height="150" width="150">
      <div class="sell-adverts-body">
        <div class="sell-adverts-text">
          <div class="title">
            <div class="title-header"><h4><strong>Surfboard for sale</strong></h4></div>
            <div class="title-view"><h6>Views:15 | Saves:10</h6></div>
          </div>
          <h5>I'm living Bali by end of August and I'm selling my surfboard for a good price. Bought it 2 months ago when I started my batch. Almost like new, no scratches</h5>
        </div>
        <div class="sell-adverts-footer">
          <h6> Posted by: Gus | Batch no: 163 | Posted on: 03/08/18 | Condition: used | Location: Bali</h6>
        </div>
      </div>
      <div class="sell-adverts-details">
        <div><a href=""><h4><i class="far fa-star"></i></h4></a></div>
        <div><h4>$270</h4></div>
        <div><a href=""><h4><i class="far fa-envelope"></i></h4></a></div>
      </div>
    </div>
  </div>
    <div class="container container-margin">
    <div class="advert">
      <img class="avatar-large" src="https://4vector.com/i/free-vector-windsurfing-board-pattern-vector_024264_Surfboards3.jpg" height="150" width="150">
      <div class="sell-adverts-body">
        <div class="sell-adverts-text">
          <div class="title">
            <div class="title-header"><h4><strong>Surfboard for sale</strong></h4></div>
            <div class="title-view"><h6>Views:15 | Saves:10</h6></div>
          </div>
          <h5>I'm living Bali by end of August and I'm selling my surfboard for a good price. Bought it 2 months ago when I started my batch. Almost like new, no scratches</h5>
        </div>
        <div class="sell-adverts-footer">
          <h6> Posted by: Gus | Batch no: 163 | Posted on: 03/08/18 | Condition: used | Location: Bali</h6>
        </div>
      </div>
      <div class="sell-adverts-details">
        <div><a href=""><h4><i class="far fa-star"></i></h4></a></div>
        <div><h4>$270</h4></div>
        <div><a href=""><h4><i class="far fa-envelope"></i></h4></a></div>
      </div>
    </div>
  </div>
    <div class="container container-margin">
    <div class="advert">
      <img class="avatar-large" src="https://4vector.com/i/free-vector-windsurfing-board-pattern-vector_024264_Surfboards3.jpg" height="150" width="150">
      <div class="sell-adverts-body">
        <div class="sell-adverts-text">
          <div class="title">
            <div class="title-header"><h4><strong>Surfboard for sale</strong></h4></div>
            <div class="title-view"><h6>Views:15 | Saves:10</h6></div>
          </div>
          <h5>I'm living Bali by end of August and I'm selling my surfboard for a good price. Bought it 2 months ago when I started my batch. Almost like new, no scratches</h5>
        </div>
        <div class="sell-adverts-footer">
          <h6> Posted by: Gus | Batch no: 163 | Posted on: 03/08/18 | Condition: used | Location: Bali</h6>
        </div>
      </div>
      <div class="sell-adverts-details">
        <div><a href=""><h4><i class="far fa-star"></i></h4></a></div>
        <div><h4>$270</h4></div>
        <div><a href=""><h4><i class="far fa-envelope"></i></h4></a></div>
      </div>
    </div>
  </div>
    <div class="container container-margin">
    <div class="advert">
      <img class="avatar-large" src="https://4vector.com/i/free-vector-windsurfing-board-pattern-vector_024264_Surfboards3.jpg" height="150" width="150">
      <div class="sell-adverts-body">
        <div class="sell-adverts-text">
          <div class="title">
            <div class="title-header"><h4><strong>Surfboard for sale</strong></h4></div>
            <div class="title-view"><h6>Views:15 | Saves:10</h6></div>
          </div>
          <h5>I'm living Bali by end of August and I'm selling my surfboard for a good price. Bought it 2 months ago when I started my batch. Almost like new, no scratches</h5>
        </div>
        <div class="sell-adverts-footer">
          <h6> Posted by: Gus | Batch no: 163 | Posted on: 03/08/18 | Condition: used | Location: Bali</h6>
        </div>
      </div>
      <div class="sell-adverts-details">
        <div><a href=""><h4><i class="far fa-star"></i></h4></a></div>
        <div><h4>$270</h4></div>
        <div><a href=""><h4><i class="far fa-envelope"></i></h4></a></div>
      </div>
    </div>
  </div>
    <div class="container container-margin">
    <div class="advert">
      <img class="avatar-large" src="https://4vector.com/i/free-vector-windsurfing-board-pattern-vector_024264_Surfboards3.jpg" height="150" width="150">
      <div class="sell-adverts-body">
        <div class="sell-adverts-text">
          <div class="title">
            <div class="title-header"><h4><strong>Surfboard for sale</strong></h4></div>
            <div class="title-view"><h6>Views:15 | Saves:10</h6></div>
          </div>
          <h5>I'm living Bali by end of August and I'm selling my surfboard for a good price. Bought it 2 months ago when I started my batch. Almost like new, no scratches</h5>
        </div>
        <div class="sell-adverts-footer">
          <h6> Posted by: Gus | Batch no: 163 | Posted on: 03/08/18 | Condition: used | Location: Bali</h6>
        </div>
      </div>
      <div class="sell-adverts-details">
        <div><a href=""><h4><i class="far fa-star"></i></h4></a></div>
        <div><h4>$270</h4></div>
        <div><a href=""><h4><i class="far fa-envelope"></i></h4></a></div>
      </div>
    </div>
  </div>
    <div class="container container-margin">
    <div class="advert">
      <img class="avatar-large" src="https://4vector.com/i/free-vector-windsurfing-board-pattern-vector_024264_Surfboards3.jpg" height="150" width="150">
      <div class="sell-adverts-body">
        <div class="sell-adverts-text">
          <div class="title">
            <div class="title-header"><h4><strong>Surfboard for sale</strong></h4></div>
            <div class="title-view"><h6>Views:15 | Saves:10</h6></div>
          </div>
          <h5>I'm living Bali by end of August and I'm selling my surfboard for a good price. Bought it 2 months ago when I started my batch. Almost like new, no scratches</h5>
        </div>
        <div class="sell-adverts-footer">
          <h6> Posted by: Gus | Batch no: 163 | Posted on: 03/08/18 | Condition: used | Location: Bali</h6>
        </div>
      </div>
      <div class="sell-adverts-details">
        <div><a href=""><h4><i class="far fa-star"></i></h4></a></div>
        <div><h4>$270</h4></div>
        <div><a href=""><h4><i class="far fa-envelope"></i></h4></a></div>
      </div>
    </div>
  </div>
    <div class="container container-margin">
    <div class="advert">
      <img class="avatar-large" src="https://4vector.com/i/free-vector-windsurfing-board-pattern-vector_024264_Surfboards3.jpg" height="150" width="150">
      <div class="sell-adverts-body">
        <div class="sell-adverts-text">
          <div class="title">
            <div class="title-header"><h4><strong>Surfboard for sale</strong></h4></div>
            <div class="title-view"><h6>Views:15 | Saves:10</h6></div>
          </div>
          <h5>I'm living Bali by end of August and I'm selling my surfboard for a good price. Bought it 2 months ago when I started my batch. Almost like new, no scratches</h5>
        </div>
        <div class="sell-adverts-footer">
          <h6> Posted by: Gus | Batch no: 163 | Posted on: 03/08/18 | Condition: used | Location: Bali</h6>
        </div>
      </div>
      <div class="sell-adverts-details">
        <div><a href=""><h4><i class="far fa-star"></i></h4></a></div>
        <div><h4>$270</h4></div>
        <div><a href=""><h4><i class="far fa-envelope"></i></h4></a></div>
      </div>
    </div>
  </div>
    <div class="container container-margin">
    <div class="advert">
      <img class="avatar-large" src="https://4vector.com/i/free-vector-windsurfing-board-pattern-vector_024264_Surfboards3.jpg" height="150" width="150">
      <div class="sell-adverts-body">
        <div class="sell-adverts-text">
          <div class="title">
            <div class="title-header"><h4><strong>Surfboard for sale</strong></h4></div>
            <div class="title-view"><h6>Views:15 | Saves:10</h6></div>
          </div>
          <h5>I'm living Bali by end of August and I'm selling my surfboard for a good price. Bought it 2 months ago when I started my batch. Almost like new, no scratches</h5>
        </div>
        <div class="sell-adverts-footer">
          <h6> Posted by: Gus | Batch no: 163 | Posted on: 03/08/18 | Condition: used | Location: Bali</h6>
        </div>
      </div>
      <div class="sell-adverts-details">
        <div><a href=""><h4><i class="far fa-star"></i></h4></a></div>
        <div><h4>$270</h4></div>
        <div><a href=""><h4><i class="far fa-envelope"></i></h4></a></div>
      </div>
    </div>
  </div>
</div>








