<%= content_for(:title) do %>
What would you like to sell?
<% end %>

<div style="text-align: center; margin-top: 30px; margin-bottom: -30px;">
<h3>What would you like to sell?</h3>
</div>
<%= render 'form', sell_advert: @sell_advert%>

<%= link_to "View Storage", storage_spaces_path, class: "btn-medium" %>
