/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  height: 0px;
  width: 0px;
}
.alert-info {
  background: #e2e2e2;
}
.alert-warning {
  background: #e2e2e2;
}
