/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  height: 20px;
  width: 100%;
  background: pink;
}
.alert-info {
  background: blue;
  height: 0px;
  width: 0px;
}
.alert-warning {
  background: yellow;
  height: 0px;
  width: 0px;
}
