
.banner {
  color: black;
  text-align: center;
  background-color: white;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), transparent 53%), linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent 53%),
  url("https://images.pexels.com/photos/1321288/pexels-photo-1321288.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: bottom 22% center;
}

.banner-content {
  margin: 0 auto;
}

.banner-content h2 {
  align-items: center;
  justify-content: center;
}

.container-content {
  align-items: center;
  justify-content: center;
}

.container-animation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  // background-color: red;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  color: white;
  font-size: 65px;
  font-weight: bold;
  padding: 7px;
}

.middle {
  // background-color: yellow;
  height: 150px;
    display: flex;
  align-items: center;
  justify-content: center;
  // flex: 0 0 10px;
  width: 40px;
}

.middle h3 {
  font-size: 65px;
  margin: 0px;
  color: white;
  padding-bottom: 4px;
  font-weight: bold;
}

.right {
  // background-color: green;
  height: 150px;
    display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: white;
  font-size: 65px;
  font-weight: bold;
}

.bottom {
  // background-color: blue;
  height: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 25px;
}

.bottom-content {
  width: 88%;
}

.row-content {
  width: 45%;
  margin: 0 auto;
  color: black;
  font-size: 40px;
}

.search-border {
  #border: 3px solid #F75555;
  border-radius: 6px;
  height: 75px;
}
