.btn-medium {
  border: 2px solid $lwr-red;
  padding: 10px;
  border-radius: 4px;
  height: 52px;
  color: $lwr-red;
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 5px;
&:hover {
  color: white;
  background-color: $lwr-red;
  text-decoration: none;
}}

.btn-medium-black {
  text-align: center;
  border: 2px solid #828282;
  padding: 10px;
  border-radius: 4px;
  height: 52px;
  color: #494949;
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 5px;
&:hover {
  color: white;
  background-color: #828282;
  text-decoration: none;
}}



.btn-crud {
  padding: 2px;
  align-items: center;
  text-align: center;
  border: 2px solid #444444;
  padding-top: 3px;
  border-radius: 4px;
  height: 30px;
  color: #444444;
  font-size: 14px;
  margin: 5px;
  width: 50%;
  border: 2px solid #444444;
&:hover {
  text-decoration: none;
  background-color: #444444;
  color: white;
}}
