.btn-medium {
  border: 2.75px solid $lwr-red;
  padding: 8px;
  margin-right: 5px;
  border-radius: 4px;
  height: 40px;
  color: #616668;
  font-size: 16px;
}
.btn-medium:hover {
  color: #da552f;
  text-decoration: none;
}
