.forum-messageboard-border {
  border-bottom: 1px solid #e2e2e2;
  padding: 0;
}

.container-flex{
  display: flex;
}

.container-margin {
  margin-top: 10px;
}

.forum-footer-text {
  font-size: 10px;
}

.forum-title-margin {
  margin-top: 5px;
}

.sub-forum-header h6 {
  margin-bottom: 3px;
}
