.wrapper {
  margin-top: 20px;
}

.body {
  background-color: white;
}

.container-margin {
  margin-bottom: 10px;
}

.categories-search-bar {
  margin-bottom:10px;
  height: 100px;
  padding: 20px;
  display: flex;
  align-items: center;
  #background-color: #f7f9ff;
  background-color:white;
}

.advert {
  display: flex;
  align-items: center;
  padding-left: 20px;
  #border-bottom: 1px solid rgba(220,224,244,0.4);
  height: 150;
  #background-color: #f7f9ff;
  background-color:white;
  margin-bottom: 20px;
}

.item-adverts-body {
  flex-grow: 1;
}

.item-adverts-body {
  color: rgba(0,0,0,0.7);
  margin-left: 30px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 150px;
  width: 100%;
  #border-right: 2px solid #f2f2f2;
}
.item-adverts-body h5 {
  margin-top: 0px;
}


.item-adverts-footer {
  #background-color: yellow;
  color: rgba(0,0,0,0.6);
}

.item-adverts-footer h6 {
  // margin-bottom: 5px;
}


.item-adverts-text {
  #background-color:green;
  margin-top: 0px;
  height: 119px;
}

.item-adverts-text h5{
  color: rgba(0,0,0,0.4);
}

.test {
  width: 200px;
}


.title-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title-list-header {
  #background-color: yellow;
  & a {
  font-weight: lighter;
  color: #494949;
  text-decoration: none;
  }
}

.title-list-header:hover {
  border-bottom: 3px solid red;
  margin-bottom: -3px
}
.title-list-header h4 {
  margin-top:0px;
}

h3, .h3 {
    font-size: 20px;
    font-weight: 350px;
    color: #848484  ;
}

.title-list-view {
  #background-color: green;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: rgba(0,0,0,0.6);
}

.title-list-view h6 {
  margin-top:5px;
}

.item-adverts-details {
  text-align: center;
  width: 200px;
  color: rgba(0,0,0,0.4);
  margin-right: 20px;
  border-left: 2px solid #f2f2f2;
}

.item-adverts-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.item-adverts-details a{
  color: rgba(0,0,0,0.4);
}

.status.accepted {
  color: #04A366;
}
.status.declined {
  color: red;
}
.status.pending {
  color: lightgrey;
}

.avatar-large {
  height: 150px;
  min-width: 150px;
  max-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  position: relative;
  background-color: #e2e2e2;
}

.advert-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  border-radius: 3px;
  margin-bottom: 0px;
}

.item-adverts-footer-item {
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 auto;
  color: #484848 !important;
  margin: 0;
}

.item-adverts-footer-item h6{
  font-size: 14px;
  margin: 0;
  color: #484848 !important;

}

.item-adverts-footer-item p{
  font-size: 12px;
  margin: 0;
  color: #484848 !important;
}

.item-adverts-footer-item-border {
  border-left: 2px solid #f2f2f2;
  padding-left: 10px;
  padding-right: 10px;
}

.item-adverts-footer-item-first {
  padding-right: 10px;
}
