/* Main navbar */
.navbar-wagon-second {
  background: $lwr-red;
  margin-top: 3px;
  height: 38px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item-second {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link-second {
  color: black;
  font-size: 14px;
}
.navbar-wagon-link-second:hover {
  color: black;
  text-decoration: none;
}

.navbar-div-second {
  min-width: 30px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-second-fixed-top {
  position: fixed;
  top: 73px;
  width: 100%
}

