.wrapper {
  margin-top: 20px;
}

.body {
  background-color: white;
}

.container-margin {
  margin-bottom: 10px;
}

.categories-search-bar {
  margin-bottom:10px;
  height: 100px;
  padding: 20px;
  display: flex;
  align-items: center;
  #background-color: #f7f9ff;
  background-color:white;
}

.advert {
  display: flex;
  align-items: center;
  padding-left: 20px;
  #border-bottom: 1px solid rgba(220,224,244,0.4);
  height: 150;
  #background-color: #f7f9ff;
  background-color:white;
  margin-bottom: 20px;
}

.sell-adverts-body {
  flex-grow: 1;
}

.sell-adverts-body {
  color: rgba(0,0,0,0.7);
  margin-left: 30px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 150px;
  #border-right: 2px solid #f2f2f2;
}
.sell-adverts-body h5 {
  margin-top: 0px;
}


.sell-adverts-footer {
  margin-top: 12px;
  #background-color: yellow;
  color: rgba(0,0,0,0.6);
}

.sell-adverts-footer h6 {
  margin-bottom: 5px;
}


.sell-adverts-text {
  #background-color:green;
  margin-bottom: 30px;
  margin-top: 0px;
  height: 95px;
}

.sell-adverts-text h5{
  color: rgba(0,0,0,0.4);
}

.test {
  width: 200px;
}


.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title-header {
  #background-color: yellow;
}

.title-header:hover {
  border-bottom: 4px solid red;
  margin-bottom: -4px;
}
.title-header h4 {
  margin-top:0px;
}

.title-view {
  #background-color: green;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: rgba(0,0,0,0.6);
}

.title-view h6 {
  margin-top:5px;
}

.sell-adverts-details {
  text-align: center;
  width: 200px;
  color: rgba(0,0,0,0.4);
  margin-right: 20px;
  border-left: 2px solid #f2f2f2;
}

.sell-adverts-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.sell-adverts-details a{
  color: rgba(0,0,0,0.4);
}

.status.accepted {
  color: #04A366;
}
.status.declined {
  color: red;
}
.status.pending {
  color: lightgrey;
}


